table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 640px;
	border-collapse:
	collapse; border-spacing: 0;
	}
	
	td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */
	
	th {
	background: #44A64B; /* Light grey background */
	font-weight: bold; /* Make sure they're bold */
	}
	
	td {
	background: #FEE7D1; /* Lighter grey background */
	text-align: center; /* Center our text */
}
